body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    /* perspective: 1000px; */
}

.card {
    width: 95px;
    height: 95px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: transform 0.6s;
    cursor: pointer;
}

.card img {
    max-width: 100%;
}

.card.flipped {
    transform: rotateY(180deg);
}

.card .front,
.card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 10px;
}

.card .front {
    background: url(../images/bg4.png);
    color: white;
}

.card .back {
    /* background-color: #fff; */
    color: #333;
    transform: rotateY(180deg);
}

.card.matched .back {
    background-color: #a4e7a7;
    color: white;
}